<article id="biography">
  
  <h1 class="text-center"> Biography </h1>
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse laboriosam sint quisquam autem ea optio recusandae ad officiis magnam cum pariatur, asperiores dicta illo eos illum quod numquam dolore ipsam.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum, deleniti facilis fugit consequuntur vitae reprehenderit accusantium a ullam. Non ipsam necessitatibus, quo sunt nisi amet quidem ullam, sequi iure.
  </p>
</article>


