<div id="phone-home">
  <%= link_to songs_path do %>
    <h2 class="text-center" id="music-link">Music</h2>
  <% end %>

  <%= link_to articles_path do %>
    <h2 class="text-center" id="blog-link">Blog</h2>
  <% end %>

  <%= link_to new_contact_path do %>
    <h2 class="text-center" id="contact-link">Contact</h2>
  <% end %>
</div>