  <article id="journal-entry" class="small-5 columns end">
    <h1 class="text-center">
      <%= selected.title if selected %>
    </h1>
    <%= selected.content.html_safe if selected %>
  </article>

