<main id="journal">

  <div id="journal-contents" class="medium-5 medium-offset-1 small-12 columns">
    <h1 class="text-center">
      Table of Contents
    </h1>
    <ul>
      <% @articles.each do |a| %>
        <li> <%= link_to a.title, load_entry_path(id: a.id), remote: true %> </li>
      <% end %>
    </ul>
  </div>

  <div id="selected_journal_entry">  
    <%= render partial: "journal_entry", locals: { selected: @selected } %>
  </div>

</main>