@import "foundation_and_overrides";

// Colors
$brown: #2F251F;
$light-orange: #FFDA8B;  // Light Orange
$dark-red: #681F0F;  // Dark Red


// Layout
form {
  border: rem-calc(2px) solid $primary-color;
  padding: rem-calc(4px);
  margin-bottom: rem-calc(10px);

 
  .field, .actions {
    margin-bottom: 10px;
  }

  .actions > input, input[type="submit"] {
    background-color: $primary-color;
    border-color: $secondary-color;
    
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}