body {
  // background-image: image-url("background_texture.png");
}

#phone-navbar {
  margin-top: 0;
  
  h1 {
    text-align: left;
    font-weight: bold;
  }

  * { 
    color: $light-orange; 
    background-color: $dark-red;
  }
}

nav {
  color: $header-font-color;
  font-family: $header-font-family;
  text-align: center;
  margin-top: rem-calc(24px);

  ul.main-nav {
    background-color: $secondary-color;
    list-style-type: none;
    margin-left: 0;
    padding: rem-calc(15px) 0;

    li {      
      display: inline;
      font-size: $h3-font-size;
      margin: 0 rem-calc(20px);
    }
  }
}