// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sc-player, #chord-charts {
  width: 90%;
  margin: 0 5%;
}

@media #{$small-only} {
  #chord-charts {
    margin-top: rem-calc(20px);
  }
}