// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#biography {
  width: 50%;
  margin-left: 25%;
  min-height: rem-calc(655px);
  background-image: image-url("coffee_stained_notebook.png");
  // background-size: rem-calc(479px) rem-calc(652px);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    padding-top: rem-calc(70px);
    color: $brown;
  }

  p {
    padding-left: rem-calc(60px);
    padding-right: rem-calc(40px);
  }
}