// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#biography {
  width: 50%;
  margin-left: 25%;
  min-height: rem-calc(655px);
  background-image: image-url("coffee_stained_notebook.png");
  // background-size: rem-calc(479px) rem-calc(652px);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    padding-top: rem-calc(70px);
    color: $brown;
  }

  p {
    padding-left: rem-calc(60px);
    padding-right: rem-calc(40px);
  }
}

#phone-home {

  h2 {
    color: $brown;
    margin: rem-calc(50px) auto;
    padding: rem-calc(10px);
    height: rem-calc(200px);
    width: rem-calc(300px);
    background-repeat: no-repeat;
    background-position: center;    
  }

  #music-link {
    background-image: image-url("radio.png");
  }

  #blog-link {
    background-image: image-url('open_journal_page.png');
  }

  #contact-link {
    background-image: image-url('pencil.png');
  }

}