<% if !flash.empty? %>
  <div class="flash">
    <% flash.each do | name, msg | %>
      <% if msg.is_a?(String) %>
        <%= msg %>
      <% else %>
        <ul>
        <% flash[name].each do | msg | %>
          <li>
            <%= msg %>
          </li>
        <% end %>
        </ul>
      <% end %>      
    <% end %>
  </div>
<% end %>

