<nav role="navigation">
  <ul class="side-nav panel">
    <li><a href="/"> Home </a></li>
    <li><a href="/songs"> Music </a></li>
    <li><a href="/articles"> Articles </a></li>
    <li><a href="/bio"> Biography </a></li>
    <li><a href="#"> Calendar (coming soon) </a></li>
    <li><a href="#"> Photos (coming soon) </a></li>
    <li><a href="#"> Links (coming soon) </a></li>
    <li><a href="#"> Current Obsession (coming soon) </a></li>
  </ul>
</nav>