<nav role="navigation">
  <ul class="main-nav">
    <li><a href="/"> Home </a></li>
    <li><a href="/songs"> Music </a></li>
    <li><a href="/articles"> Blog </a></li>
    <li><a href="/bio"> About </a></li>
    <li><a href="#"> Calendar </a></li>
    <li><a href="#"> Pictures </a></li>
  </ul>
</nav>

<!-- CHANGE TO HIDDEN LINK IN TABLE -->
<% if admin_signed_in? %>
  <%= link_to "Dashboard", admin_path %> <br>
  <%= link_to "Log out", destroy_admin_session_path, method: :delete %>
<% else %> 
  <%= link_to "Admin Login", new_admin_session_path %>
<% end %>