<nav class="top-bar" id="phone-navbar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Brian May Music</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li> <%= link_to "Home", '/' %> </li>
      <li> <%= link_to "Music", '/songs' %> </li>
      <li> <%= link_to "Blog", '/articles' %> </li>
      <li> <%= link_to "Contact", '/contact' %> </li>
    </ul>

  </section>
</nav>